[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipaddress = "*"
networkx = "*"
docker = "*"
python-language-server = "*"
python-lsp-server = "*"
matplotlib = "*"
black = "*"
exabgp = "*"
pytz = "*"

[dev-packages]
pydocstyle = "*"
flake8 = "*"
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
